<div class="space-container">
  <div class="timer-p">
    5:00
  </div>
  <div class="space-videos-container">
    <div class="video-block">
      <!-- <video id="localVideo" class="vid" autoplay muted height="250" width="100%"></video> -->
      <img src="https://pbs.twimg.com/profile_images/1514983202179674113/KPHBm2WC_400x400.jpg" height="250" width="100%" alt="video" />
      <div class="space-video-titles">
        <p style="font-size: large;">
          Unegbu Kingsley
        </p>
        <p>
          Software Developer
        </p>
      </div>
      <div class="space-video-controls">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>mic</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>videocam</mat-icon>
        </button>
      </div>
    </div>
    
    <div class="video-block">
      <img src="https://pbs.twimg.com/profile_images/1514983202179674113/KPHBm2WC_400x400.jpg" height="300" width="100%" alt="video" />
      <div class="space-video-titles">
        <p style="font-size: large;">
          Unegbu Kingsley
        </p>
        <p>
          Software Developer
        </p>
      </div>
      <div class="space-video-controls">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>mic</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>videocam</mat-icon>
        </button>
      </div>
    </div>
    

    <div class="video-block">
      <img src="https://pbs.twimg.com/profile_images/1514983202179674113/KPHBm2WC_400x400.jpg" height="300" width="100%" alt="video" />
      <div class="space-video-titles">
        <p style="font-size: large;">
          Unegbu Kingsley
        </p>
        <p>
          Software Developer
        </p>
      </div>
      <div class="space-video-controls">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>mic</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>videocam</mat-icon>
        </button>
      </div>
    </div>
    

    <div class="video-block">
      <img src="https://pbs.twimg.com/profile_images/1514983202179674113/KPHBm2WC_400x400.jpg" height="250" width="100%" alt="video" />
      <div class="space-video-titles">
        <p style="font-size: large;">
          Unegbu Kingsley
        </p>
        <p>
          Software Developer
        </p>
      </div>
      <div class="space-video-controls">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>mic</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>videocam</mat-icon>
        </button>
      </div>
    </div>
    
  </div>
</div>