.space-container {
    max-width: 80%;
    margin: 0 auto;
}

.timer-p{
    max-width: 600px;
    font-size: 120px;
    height: 200px;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.space-videos-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.video-block {
    position: relative;
    min-width: 30%;
}

.space-video-titles::ng-deep {
    text-align: center;
    background-color: pink;
}

.space-video-controls {
    position: absolute;
    
    right: 0;
}