<div style="max-width: 40%; border-radius: 10px; margin: 0 auto; background-color: rgb(12, 10, 10); padding: 20px 0;">
  <form style="width: 70%; margin: 0 auto;">
      <div>
          <label>
              Hour:
          </label>
          <input type="number" >
      </div>
      <div>
          <label>
              Productivity:
          </label>
          <select class="round" style="width: 100%; height: 30px;">
              <option>
                  ---
              </option>
              <option>
                  Pomodoro
              </option>
          </select>
      </div>
      <p>
          The Pomodoro Technique is a time management method based on 25-minute stretches of focused work broken by five-minute breaks. Longer breaks, typically 15 to 30 minutes, are taken after four consecutive work intervals.
      </p>
      <div style="text-align: center;">
          <input type="submit"  value="Submit" style="border: none; border-radius: 10px; height: 30px; width: 120px;"  />
      </div>
     
  </form>
</div>