input {
    width: 100%;
    display: block;
    min-height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

input[type=submit] {
    margin-top: 40px;
    margin-bottom: 30px;
}