<div style="display: flex; justify-content: space-evenly; ">
  <div style="width: 40%">
      <div style="width: 80%; margin: 0 auto;">
          <form>
              <input type="email" placeholder="Enter your Email" />
              <input type="password" placeholder="Enter your Password"/>
              <input type="submit" value="Login" />
          </form>
          <p>
              New Users? <a>Sign Up</a>
          </p>
      </div>
      
  </div>
  <div style="background-color: blue; border-radius: 8px; padding: 20px 10px; width: 30%">
      <div style="background-color: rgb(77, 77, 245); border-radius: 8px; width: 95%; margin: 0 auto; text-align: center; padding: 5px;">
          <p style="width: 90%; margin: 0 auto; font-size: 25px; word-wrap: break-word; padding: 10px; line-height: 1; text-align: left; margin-bottom: 5px;">
              Start your journey by one click, explore a more productive space!
          </p>
          <img src="../../../assets/img/login_banner.png" alt="banner" width="95%">
      </div>
  </div>
</div>