<div class="login-container">
  <div style="width: 40%; margin-top: 200px;">
      <div style="width: 80%; margin: 0 auto;">
          <form  [formGroup]="loginFormGroup" (ngSubmit)="loginUser()">
              <input type="email" placeholder="Enter your Email" formControlName="email" />
              <input type="password" placeholder="Enter your Password" formControlName="password"/>
              <input type="submit" value="Login" />
          </form>
          <p>
              New Users? <a class="sign-up-link" routerLink="/register">Sign Up</a>
          </p>
      </div>
      
  </div>
  <div class="side-banner-container">
      <div class="side-inner-banner">
          <p class="banner-text">
              Start your journey by one click, explore a more productive space!
          </p>
          <img src="assets/images/login_banner.png" alt="banner" width="95%" height="70%">
      </div>
  </div>
</div>