<div class="login-container">
  <div style="width: 40%; margin-top: 150px;">
      <div style="width: 80%; margin: 0 auto;">
          <form>
              <input type="text" placeholder="Enter your Full Name" />
              <input type="text" placeholder="Enter your Occupation" />
              <input type="email" placeholder="Enter your Email" />
              <input type="password" placeholder="Enter your Password"/>
              <input type="submit" value="Register" />
          </form>
          <p>
              Already a Users? <a class="sign-up-link" routerLink="/login">Sign in</a>
          </p>
      </div>
      
  </div>
  <div class="side-banner-container">
      <div class="side-inner-banner">
          <p class="banner-text">
              Start your journey by one click, explore a more productive space!
          </p>
          <img src="assets/images/login_banner.png" alt="banner" width="95%" height="70%">
      </div>
  </div>
</div>