
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <img src="../../assets/images/logo.png" alt="Logo" style="margin-bottom: 14px;" />
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <mat-card-header>
    <mat-card-title style="padding-top: 10px;">Shiba Inu</mat-card-title>
    <div mat-card-avatar class="example-header-image"></div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matBadge="8"
      matBadgePosition="below" matBadgeColor="accent">
      <mat-icon>notifications</mat-icon>
    </button>
  </mat-card-header>


  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>