<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <img src="assets/images/logo.png" alt="Logo" style="margin-bottom: 14px;" />
  </button>
  <span>NSpace</span>
  <span class="example-spacer"></span>
  <div style="padding-right: 50px;">

    <mat-card style="background-color: transparent; box-shadow: none;" *ngIf="(user$ | async)">
      <mat-card-header>
        <mat-card-title style="padding-top: 10px;">{{userProfile?.fullName}}</mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
        <button mat-icon-button class="example-icon" aria-label="Notification icon" matBadge="8"
          matBadgePosition="below after" matBadgeColor="accent">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Logout icon" (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </mat-card-header>
    </mat-card>
    <p *ngIf="!(user$ | async)">
      <button mat-button routerLink="login" [disableRipple]="true">Login</button>
      <button mat-button routerLink="register" [disableRipple]="true">Register</button>
      <button mat-button [disableRipple]="true">Contact</button>
    </p>
  </div>
</mat-toolbar>