<div class="dashboard-container">

  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile colspan="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content">
            <div style="padding: 80px;">
              <div>
                <div class="large-display-text">
                  0
                </div>
              </div>           
            </div>
          </mat-card-content>
          <mat-card-footer>
            <p style="color: black; text-align: center;">
              Attempted
            </p>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile colspan="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content">
            <div style="padding: 80px;">
              <div>
                <div class="large-display-text">
                  0
                </div>
              </div>
            
             
            </div>
          </mat-card-content>
          <mat-card-footer>
            <p style="color: black; text-align: center;">
              Completed
            </p>
            <div style="text-align: center; position: absolute; bottom: -15px; left: 45%; ">
              <button mat-raised-button class="start-btn">
                START
              </button>
            </div>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  
  </div>
  
  <div style="margin-top: 45px;">
    <div class="row-text-container">
      <p style="color: black; position: relative; top: 2px;">
        Fill Out Goal
      </p>
      <button mat-icon-button aria-label="Example icon-button with heart icon" class="direction-btn">
        <mat-icon class="white-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div class="row-text-container">
      <p style="color: black; position: relative; top: 2px;">
        Fill Out Goal
      </p>
      <button mat-icon-button aria-label="Example icon-button with heart icon" class="direction-btn">
        <mat-icon class="white-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div class="row-text-container">
      <p style="color: black; position: relative; top: 2px;">
        Fill Out Goal
      </p>
      <button mat-icon-button aria-label="Example icon-button with heart icon" class="direction-btn">
        <mat-icon class="white-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>