<div style="padding: 0 20px;">
  
  <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile colspan="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Welcome
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div style="padding: 80px;">
              <div>
                <div style="font-size: 13em;  color: black;">
                  12
                </div>
              </div>           
            </div>
          </mat-card-content>
          <mat-card-footer>
            <p style="color: black; text-align: center;">
              Attempted
            </p>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile colspan="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Welcome
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div style="padding: 80px;">
              <div>
                <div style="font-size: 13em;  color: black;">
                  12
                </div>
              </div>
            
             
            </div>
          </mat-card-content>
          <mat-card-footer>
            <p style="color: black; text-align: center;">
              Completed
            </p>
            <div style="text-align: center; position: absolute; bottom: -15px; left: 45%; ">
              <button style="color: white; border: none; padding: 10px; background-color: blue;">
                START
              </button>
            </div>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  
  </div>
  
  <div style="margin-top: 20px;">
    <div style="display: flex; justify-content: space-between; padding: 5px 30px; background-color: lightgray; border-radius: 5px;">
      <p style="color: black; position: relative; top: 5px;">
        Fill OUt Goal
      </p>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" class="direction-btn">
        <mat-icon class="white-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>